<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button clear="true" full="true" item-right icon-left>
    <ion-title>{{uiLabelMap.APISignIn}}</ion-title>
    <ion-icon class="icon-right" name="lock"></ion-icon>
        <ion-icon class="icon-right" name="">  </ion-icon>
    <ion-icon class="icon-right" name="">  </ion-icon>

    </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>{{uiLabelMap.APIEmail}}</ion-label>
      <ion-input type="email" [(ngModel)]="input.email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{uiLabelMap.APIPassword}}</ion-label>
      <ion-input type="password" [(ngModel)]="input.password" name="password"></ion-input>
    </ion-item>
      <ion-item>
      <ion-label>{{uiLabelMap.APIRememberMe}}</ion-label>
      <ion-toggle [(ngModel)]="rememberMe" value="Y"></ion-toggle>
    </ion-item>
    <ion-item>
      <button ion-button full large (click)="login()">{{uiLabelMap.APISignIn}}</button>
    </ion-item>
    <ion-item>
      <button ion-button full large (click)="goToForgot()">{{uiLabelMap.APIForgotPassword}}</button>
    </ion-item>
    <ion-item>
      <button ion-button full large (click)="goToRegister()">{{uiLabelMap.APIDoNotHaveAccount}}</button>
    </ion-item>
  </ion-list>
</ion-content>
