<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button clear="true" full="true" item-right icon-left>
      <ion-title>{{uiLabelMap.APIHome}}</ion-title>
      <ion-icon class="icon-right" name="home"></ion-icon>
          <ion-icon class="icon-right" name="">  </ion-icon>
      <ion-icon class="icon-right" name="">  </ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
      <ion-card-content>
          <ion-grid>
              <ion-row>
                  <ion-col col-4></ion-col>
                  <ion-col col-4>
                    <img src="assets/imgs/splash.svg"/>
                  </ion-col>
                  <ion-col col-4></ion-col>
              </ion-row>
            </ion-grid>
        <p>By: Mymemo Limited Partnership</p>
        <p>Email: admin@mymemoapps.com</p>
      </ion-card-content>
    </ion-card>
      <ion-card>
        <ion-card-header>
          {{uiLabelMap.APINews}}
        </ion-card-header>
        <ion-card-content>
            <ion-grid *ngFor="let news of newsList">
                <ion-row >
                  <ion-col col-3 very-small>
                        {{news.createdDate | date : 'd/M/yy'}}
                      </ion-col>
                  <ion-col col-9 >
                    {{news.contentName}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    {{news.text}}
                  </ion-col>
                </ion-row>
              </ion-grid>
      </ion-card-content>
      </ion-card>
</ion-content>
